.menu {
  padding: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

.menu > h3 {
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.effects {
  padding: 0px 0px 0px 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
}

.effects > h3 {
  padding: 0px;
  margin: 0px 0px 15px 0px;
}

.effects > ul {
  padding: 0px;
  margin: 0px 0px 0px 15px;
  list-style: none;
}

.effects > ul > li {
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
