div.Tile {
  background-size: cover;
  width: 20vmin;
  height: 20vmin;
  display: grid;
  margin: 0 auto;
}

div.one {
  padding: 100px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

div.inner {
  width: 15vw;
  height: 15vw;
  background-size: cover;
  background-image: url(https://source.unsplash.com/featured/?night);
}

div.outer {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

div.Caption {
  text-align: center;
}
